.NuovoArticolo{
    height:100%;
    margin:auto;
    width:80%;  
}

.Input{
    display:block;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 12px;
    padding:12px;
    width:50%;
    outline:none;
    padding:5px;
    border:none;
    background-color: transparent;
    border-bottom: 0.5px solid  rgba(0,0,0,.84);
}


.InputTitolo{
    display:block;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding:10px;
    width:50%;
    outline:none;
    padding:5px;
    border:none;
    background-color: transparent;
    border-bottom: 0.5px solid  rgba(0,0,0,.84);
    font-size:25px;
}




.InputTextarea{
    display:block;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding:10px;
    resize:none;
    width:70%;
    height:400px;
    outline:none;
    border-radius: 2px;
    border: 0.5px solid grey;
    background-color: transparent;
    overflow-y: auto;
    font-family: inherit;
    font-size: 15px;
}

.PubblicaButton{
    width:150px;
    outline:none;
    padding:10px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid grey;
    margin-top: 30px;
    margin-bottom:30px;
}

.Input:focus, .InputTextarea:focus, .InputTitolo:focus{
    border-bottom: 1px solid black;
}

.PubblicaButton:hover{
    background-color: lightgray; 
}

.InputTags  {
   margin-bottom:50px;
   width:500px;
   max-height:350px;
   margin:auto;
}


.Label{
    vertical-align: middle;
    font-size:18px;
    margin-top:50px;
    margin-bottom:20px;
}