.Anteprimaarticolo{
    width:60%;
    margin:auto;
    background-color: white;
    padding:5px;
    border: 1px solid #d3d3d3;
    margin-bottom: 10px;
    height: 170px;
}


.Imgdiv{
    margin-left: 53%;
    width: 50%;
    height: 1%;
}

.Img{
    width: 80%;
    margin-top: -55px;
}

.Testo{
    font-size: medium;
    font-family: auto;
    height: 53%;
    width: 50%;
    margin-top: -3%;
    word-wrap: break-word;
    text-align: justify;
}

.Titolo{
    width: 40%;
    
}

.Sottotitolo{
    width: 40%;
}

.Icon{
    width:6%;
}

.RedHeart{
    color: red;
}

/* media quesry scroll text*/