.Profilo{
    padding-top: 20px;
}

.DatiPersonali{
    background-color: white;
    border: 1px solid #D2CACA;
    text-align: justify;
    margin-bottom: 10px;
    width: 100%;
}


.Informazioni{
    background-color: white;
    border: 1px solid #D2CACA;
    text-align: justify;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
}

.ModificaDati{
    background-color: white;
    border: 1px solid #D2CACA;
    text-align: justify;
    margin-bottom: 10px;
    width: 100%;
    height: 420px;
}

.BtnPresentazione{
background-color: transparent;
border: none;
color: blue;
cursor: pointer;
}

.ButtonEmail{
    font-family: inherit;
    background-color: transparent;
    border: 1px solid;
    float: right;
    cursor: pointer;
    margin-top: -2px;
}

.Input{
    margin-right: 150px;
}

.DivForm{
    width: 350px;
    display: inline-flex;
    margin-bottom: 30px;
}

.InputForm{
    width: 120px;
}

.CaricaImgButton{
    margin:auto;
     font-size:16px;
     width:150px;
     padding:5px;
     background-color: white;
     border-radius: 8px;
     border: 1px solid #B4ADAD;
     font-family: inherit;
     cursor:pointer;
     margin-left: 0px;
 }
 