.Profilo{
    padding-top: 20px;
}

.DatiPersonali{
    background-color: white;
    border: 1px solid #D2CACA;
    text-align: justify;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
}

.ModificaDati{
    background-color: white;
    border: 1px solid #D2CACA;
    text-align: justify;
    margin-bottom: 10px;
    width: 100%;
    height: 420px;
}

.ButtonEmail{
    font-family: inherit;
    background-color: transparent;
    border: 1px solid;
    float: right;
    cursor: pointer;
}

.Input{
    margin-right: 30px;
}


.InputImg{
    display:inline-flex;
    width:50%;
}

.CaricaImgButton{
    margin:auto;
     font-size:16px;
     width:150px;
     padding:5px;
     background-color: white;
     border-radius: 8px;
     border: 1px solid #B4ADAD;
     font-family: inherit;
     cursor:pointer;
     margin-left: 0px;
 }
 