.Input{
    display:block;
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
    padding:12px;
    width:90%;
    outline:none;
    padding:5px;
    border:none;
    background-color: transparent;
    border-bottom: 0.5px solid  rgba(0,0,0,.84);
}

.Input:focus{
    border-bottom: 1px solid black;
}


.Login{
    height:350px;
    width:50%;
    margin:auto;
}

.AccediButton{
    width:100px;
    height:48px;
    outline:none;
    padding:5px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid grey;
    margin-top: 10px;
    margin-bottom:10px;
    font-size:17px;
    font-family: inherit;
    font-weight: bold;
    cursor:pointer;
    margin-right: 2px;
}


.AccediGoogleButton{
    width:120px;
    text-align: right;
    height:48px;
    outline:none;
    padding:5px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid grey;
    margin-top: 10px;
    margin-bottom:10px;
    font-size:17px;
    font-family: inherit;
    font-weight: bold;
    cursor:pointer;
    margin-right: 2px;
    background-image: url('../../assets/images/logoGoogle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-position-x: 5%;
}





.ButtonContainer{
    display:inline-flex;
}
.AccediButton:hover,.AccediGoogleButton:hover, .RegistratiButton:hover{
    background-color: lightgray; 
    background-image: unset;
}


.AccediButton:disabled{
    cursor:not-allowed;
    background-color: lightgray; 
}

.RegistratiButton{
    width:100px;
    outline:none;
    padding:5px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid grey;
    margin-top: 10px;
    margin-bottom:10px;
    font-size:15px;
    font-family: inherit;
    font-weight: bold;
    cursor:pointer;
}