.ButtonSend{
    font-family: inherit;
    background-color: transparent;
    border: 1px solid;
    float: right;
    cursor: pointer;
    margin-right: 2px;
    font-size: large;
    box-shadow: -3px 3px 3px #D2CACA;
}