.Articolo{
    width:60%;
    margin:auto;
    background-color: white;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 10%;
    padding:5px;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
}


.Img{
    border: 2px solid orange;
    width: 90%;
}


.Testo{
    font-size: medium;
    font-family: auto;
    height: 50%;
    word-break: break-word;
    font-weight: normal;
    text-align: justify;
    width: 90%;
    margin-left: 5%;
}

.Titolo{
    font-weight: bold;
}

.Icon{
    width:6%;
}