.Articolo{
    width:60%;
    margin:auto;
    background-color: white;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 10%;
    padding:5px;
    border: 1px solid #D2CACA;
    margin-bottom: 10px;
    margin-top:50px;
}


.Img{
    border: 2px solid #3C3A3A;
    width: 90%;
}


.Testo{
    font-size: medium;
    font-family: auto;
    height: 50%;
    word-break: break-word;
    font-weight: normal;
    text-align: justify;
    width: 90%;
    margin-left: 5%;
}

.Titolo{
    font-weight: bold;
}


.Tag{
    float: left;
    margin-bottom: 10px;
}

.TagConteiner{
    margin-left: 25px;
}

.Action{
    border: 3px solid;
}