.Articolo{
    width:60%;
    margin:auto;
    background-color: white;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 10%;
    padding:5px;
    border: 1px solid #D2CACA;
    margin-top:50px;
}


.Img{
    border: 2px solid #3C3A3A;
    width: 90%;
}


.Testo{
    font-size: medium;
    font-family: auto;
    height: 50%;
    word-break: break-word;
    font-weight: normal;
    text-align: justify;
    width: 90%;
}

.Titolo{
    font-weight: bold;
}


.Tag{
    float: left;
    margin-bottom: 10px;
}

.TagContainer{
    margin-left: 25px;
}


@media (max-width: 500px) {
    .Articolo{
        width:80%;
        margin:auto;
        background-color: white;
        display: flex;
        flex-flow: column;
        padding:5px;
        border: 1px solid #D2CACA;
        margin-top:50px;
    }

    .Testo{
        font-size: medium;
        font-family: auto;
        height: 50%;
        word-break: break-word;
        font-weight: normal;
        text-align: justify;
        width: 90%;
        margin-left: 0px;
    }

}