.Tag{
    width:auto;
    max-width: 150px;
    height:30px;
    font-size:85%;
    border:1px solid #cbbeb5;
    background-color:#cbbeb5 ;
    vertical-align: middle;
    font-family: sans-serif;
    padding:2px;
    border-radius: 4px;
    color:#354147;
    box-shadow: 2px 3px #eaeaea;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    text-overflow: ellipsis; 
    display:inline-block;
}

.Tag i{
    position: relative;
    top:1px;
    font-size:90%;
    font-weight: bold;
    cursor:pointer;
    float:right;
}

.Tag i:hover{
    color:black;
}