.Commento{
   box-shadow:-1px 1px 10px 3px #D2CACA;
   margin-top: 20px;
   word-wrap: break-word;
   position: relative;
}
.ContitoreMessaggi{
    width:60%;
    margin:auto;
    background-color: white;
    padding:5px;
    border: 1px solid #D2CACA;
    border-radius: 10px;
}

.Commento i{
    font-size:90%;
    font-weight: bold;
    cursor:pointer;
    position: absolute;
    top:0;
    right: 0;
}