.MainPage{
height:100%;
}

.Img{
    height: 300px;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.Testo{
    margin:auto;
    text-align: center;
    margin-top:10%;
    background-color: transparent;
    border:none;
    width:50%;
     font-size: 120%;
    font-family: inherit;
}

.Registrazione{
    margin:auto;
    text-align: center;
    background-color: transparent;
    border:none;
    width:50%;
   font-size: 300%;
   font-family: inherit;
   font-weight: bold;
   margin-bottom: 10px;
   cursor: pointer;
   outline: none;
}


.Registrazione:hover{
    color:#787373;
    font-weight: lighter;
}

@media (max-width: 800px) {
   
    .Registrazione{
       font-size: 210%;
       margin:auto;
       text-align: center;
        margin-top:50px;
    }
    
   }
