.Homepage{
width:100%;
margin:auto;
}

.ContainerArticoli{
height:70%;
margin:auto;
overflow:auto;
width:90%;
margin: 10px auto 10px auto;
overflow-x:hidden;
overflow-y: auto;
}

.Titolo{
    color: rgba(0, 0, 0, 0.84);
    font-size:50px;
}




.TornaSuButton{
    background: dimgray;
    cursor: pointer;
    position: relative;
    bottom:5px;
    width:50px;
    height:35px;
    border:none;
    padding:1px;
    outline: none;
    text-align: center;
    font-size-adjust: inherit;
    margin:auto;
    border-radius: 2px;
    display:grid;
    font-family: inherit;
}
.TornaSuButton i {
    font-size:25px;
}