.Homepage{
width:100%;
margin:auto;
}

.ContainerArticoli{
height:70%;
margin:auto;
overflow:auto;
width:90%;
margin: 10px auto 10px auto;
}

.Titolo{
    color: rgba(0, 0, 0, 0.84);
    font-size:50px;
}

.BarraNavigazione{
    width:100%;
    text-decoration: none;
    position:fixed;
    top:5px;
    margin-right:10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.BarraNavigazione a{
    margin-right:10px;
    margin-left: 10px;
    text-decoration: none;   
    color:black;
    font-size:18px; 
}

.BarraNavigazione a:hover{
    font-weight: bold;
    color: rgb(77, 72, 72);
}

.Link{
    float:left;
}

.LoginLink{
    position:fixed;
    right:10px;
    float:right;
}

.CercaArticoli{
  margin-top: 20px;  
  margin-bottom:20px;
  box-sizing: border-box;
  display:inline-flex;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.CercaArticoli input[type =text]{
    width:25%;
    border: 1px solid rgb(77, 72, 72);;
    outline:none;
    border-radius: 3px;
    padding:2px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    margin-left:auto;
}

.CercaButton{
    width: 8%;
    padding: 3px;
    background: dimgray;
    color: white;
    font-size: 15px;
    border: 1px solid rgb(77, 72, 72);;
    outline:none;
    border-radius: 2px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    float: left;
    border-left: none; 
    cursor: pointer;
    margin-right:auto;
}

.CercaButton:hover{
    background: rgb(73, 68, 68);
}

.TornaSuButton{
    background: dimgray;
    cursor: pointer;
    position: relative;
    bottom:5px;
    width:35px;
    height:25px;
    border:none;
    padding:2px;
    outline: none;
    text-align: center;
    font-size-adjust: inherit;
    margin:auto;
    border-radius: 2px;
}