
.Ricerca{
    box-sizing: border-box;
    display:inline-flex;
    width:250px;
    height:30px;
  }
  

  .Ricerca input[type = text]{
      width:80%;
      border:none;
      outline:none;
      padding:2px;
      margin-right:0;
      border-bottom: 0.5px solid #F0E7E7;
  }

  .Ricerca input[type = text]:focus{
 
    border-bottom: 0.5px solid #D2CACA;
}



  ::-webkit-input-placeholder { 
    color: gray;
  }

  .CercaButton{
      width: 20%;
      padding: 3px;
      background: transparent;
      color: white;
      outline:none;
      float: left;
      border-left: none; 
      cursor: pointer;
      margin-left: 0;
  }
  
  .CercaButton i {
    font-size: 25px; 
    font-weight: bold;
  }


  .CercaButton:hover{
     color: #787373;
  }

  @media (max-width: 500px) {
   
.Ricerca{
    width:140px;
    float:left;
    margin:auto;
    margin-left: 0px;
    }
   
  .Ricerca input[type = text]{
    border:none;
    outline:none;
    padding:2px;
    margin-right:0;
    border-bottom: 0.5px solid #F0E7E7;
}

   }