.BarraNavigazione{
    width:100%;
    text-decoration: none;
    position:fixed;
    top:5px;
    margin-right:10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size:20px;
}
.BarraNavigazione a{
    margin-right:10px;

    text-decoration: none;   
    color:black;
  
}
.BarraNavigazione i{
    font-size: 28px;
}

.BarraNavigazione a:hover, .LoginButton:hover{
    font-weight: bold;
    color: rgb(77, 72, 72);
}

.Link{
    float:left;
    font-size:20px;
    outline: none;
}

.LoginButton{
    position:fixed;
    right:10px;
    float:right;
    border:none;
    background-color: transparent;
    outline: none;
    width:30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;  
    text-align: center;
    padding:2px;
}

.LoginButton i{
    text-align: center;
}

 .LinkAttivo i{
  
   color: #5d5d79; 
}