body {
  margin: 0;
  font-family: 'Ubuntu';
  text-align: center;
  height:100%;
  background-color:#d1d1d1 ;
  background-image: linear-gradient(#f0ecec , #d1d1d1);
  background-repeat: no-repeat;
}


button:disabled{
  cursor:not-allowed;
  background-color: lightgray; 
}


::selection { background-color:#ECE5E4  ; }