body {
  margin: 0;
  font-family: 'Ubuntu';
  text-align: center;
  background-color: #efeff2;
}


button:disabled{
  cursor:not-allowed;
  background-color: lightgray; 
}


::selection { background-color:#ECE5E4  ; }