body {
  margin: 0;
  font-family: 'Ubuntu';
  text-align: center;
  height:100%;
  background-color: #F0E7E7 ;
  color: #1E1D1D;

}

hr{
  border:0.5px solid #787373;
}

button:disabled{
  cursor:not-allowed;
  background-color: #D2CACA; 
}


::selection { background-color:#D2CACA; }



q,
blockquote {
  quotes: "“" "”" "‘" "’";
  font-style: italic;
}



q:before,
blockquote:before {
  content: open-quote;
}

q:after,
blockquote:after {
  content: close-quote;
  margin-left: 700px;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  font-size: 3.8em;
  color: #F0E7E7;
}

